/* Style Sheet created by: Jake Mellinger */

/* Style for body specifies a background color */
body {
    background-color: #404040;    
}

/* Styles for Mobile Layout */

/* Style for container centers the page and sets the element width */
#container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* Style for header specifies top margin, background, color, rounded corners, and center-aligns content */
header {
    text-align: center;
}

/* Style for nav specifies text properties */
nav {
    font-family: Verdana, "Times New Roman", serif;
    font-size: 1.25em;
    font-weight: bold;
    text-align: center;
    margin-top: 0;
}

/* Style specifies padding and margins for unordered list */
nav ul {
    padding: 0;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

/* Style for nav li specifies the background color, rounded corners, removes bullet style, and applies margins and padding for list items within the navigation */
nav li {
    background-color: #000000;
    border-radius: 2em;
    list-style-type: none;
    margin: 0.3em;
    padding: 0.4em;
}

/* Style changes navigation link text color and removes the underline */
nav li a {
    color: #FFFFFF;
    text-decoration: none;
}

/* Style displays the mobile class */
.mobile {
    display: inline;
}

/* Style hides the desktop class */
.desktop {
    display: none;
}

/* Style for the main element specifies a block display, text properties, margins, padding, rounded corners, and border properties */
main {
    display: block;
    font-family: Verdana, Arial, sans-serif;
    font-size: 1em;
    margin-top: 0.5em;
    padding: 1em;
    background-color: #FFFFFF;
    opacity: 0.85;
}

/*Style for anchor elements within the main element */
main a {
    background-color: #9d9d93; 
    border-radius: 1em;
    color: #FFFFFF;
    font-weight: bold;
    padding: 0.5em;
    text-decoration: none;
}

/* Style for footer specifies font size, text alignment, and top margin */
footer {
    font-size: 0.7em;
    text-align: center;
    margin-top: 2em;
    color: #FFFFFF;
}

/* Style for the footer element */
footer a {
    color: #FFFFFF;
    text-decoration: none;
}

/* Media query for phone viewport targets screen with a minimum width of 320px. */

@media only screen and (min-width: 320px) {
    
    /*Style specifies a horizontal display for navigation links */
    nav li {
        display: inline;
        float: left;
        margin-left: 1%;
        margin-right: 1%;
        padding-left: 0;
        padding-right: 0;
        width: 11%;
        white-space: nowrap;
        border-radius: 0;
        background-color: transparent;
    }
}

@media only screen and (min-width: 830px) {
    
    /* Style specifies a width for container */
    #container {
        background-color: #1D1D1C;
    }
    nav {
        float: center; 
        margin-top: 0;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 0;
        width: 95%;
    }
    nav ul{
        margin: 0;
        padding-left: 0.40%;
        padding-right: 0.40%;
    }
    
    /* Style for navigation list items specifies a border radius, border, margin, width, and padding */
    nav li {
        margin-left: 0;
        margin-right: 0;
        padding: 0;
        width: 20%;
    }
    /* Style for navigation links specifies display and padding */
    nav li a {
        display: inline-block;
        padding: 0.7em;
    }
    
    /* Style rules for psuedo-classes */
    nav li a:link {
        color: #FFFFFF;
    }
    
    nav li a:visted {
        color: #CCCCFF;
    }
    
    nav li a:hover {
        color: #9D9D93;
        font-style: italic;
    }
    
    /* Style specifies border, shadow, margin, and padding for the main element */
    main{
        background-color: #1D1D1C;
    }
    /* Style specifies left and right padding for paragraph elements within the main element */
    main p{
        color: #FFFFFF;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
    footer {
        background-color: #2A2A2A;
        margin-top:-.2em;
        padding: 2em;
    }

/* Images for the about page */

    .about-freshman {
        width: 300px;
        height: 300px;
        background-image: url(images/logo.jpg);
        background-size: 100%;
        float: left;
    }
}